.pd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.pd .heading {
  text-align: center;
  width: 100%;
}

.pd .heading h1 {
  font: 700 5rem serif;
}

.pd .container1 {
  width: calc(100/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pd .container1 .mumbai {
  width: 30%;
  padding: 1rem;
  margin: 2rem;
  -webkit-box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  opacity: .8;
}

.pd .container1 .mumbai img {
  width: 100%;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  height: 20rem;
}

.pd .container1 .mumbai:hover {
  opacity: 1;
  cursor: pointer;
}

.pd .container1 .mumbai h1 {
  text-align: center;
  padding: 1.5rem;
  font: 600 2.5rem serif;
  color: #075757;
}
