.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding: 5rem;
  position: relative;
  left: 5%;
  top: -6rem;
  margin-bottom: 4rem;
  background-color: rgba(255, 255, 255, 0.835);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
}

.services .head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem 0;
  padding: 1.5rem 0;
  background: linear-gradient(1deg, #1fa4d7, #f2efe8);
  border-radius: 3px;
}

.services .head .firsthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .head .firsthead i {
  font-size: 2rem;
}

.services .head .secondhead {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .head .secondhead i {
  font-size: 2rem;
}

.services .covid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 1rem;
  padding: 1.5rem 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #406dc0;
  border-radius: 3px;
  color: #406dc0;
  background: #f0f4ff;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

.services .covid button {
  padding: 1rem 0.8rem;
}

.services .covid button a {
  width: 100%;
  text-decoration: none;
  color: black;
}

.services .formarea {
  width: 100%;
  margin: 1rem;
  font-size: 2rem;
  background-color: #f3f1f1;
  border: 1px solid #9e9a9a;
  border-radius: .5rem;
}

.services .formarea form label {
  margin: 1rem 0rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.services .formarea form .firsthalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem 1.5rem;
}

.services .formarea form .firsthalf .jouneydate input {
  border: none;
}

.services .formarea form .secondhalf {
  margin: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .formarea form .secondhalf .passengers {
  margin-left: 3rem;
  margin-right: 3rem;
}

.services .formarea form .secondhalf input[type=submit] {
  width: 32.5%;
  font-size: 2.5rem;
  height: 6rem;
  margin: 1rem 0 0 0;
  border: none;
  -webkit-box-shadow: 0 0 0.3rem 0.2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.3rem 0.2rem rgba(0, 0, 0, 0.5);
  background: #c60c30;
  color: #f0f4ff;
  cursor: pointer;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem;
  font-size: 3rem;
}

.heading h1 {
  font-family: "Times New Roman", Times, serif;
}

.mainhead {
  width: 100%;
}

.mainhead .partnersblock {
  width: calc(100 / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainhead .partnersblock .partners {
  width: 30%;
  height: 15%;
  margin: 2rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border: 1px solid #bdb5b5;
  -webkit-box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

.mainhead .partnersblock .partners img {
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

.mainhead .partnersblock .partners h1 {
  margin: 1.5rem 0.5rem;
}
