header{
    .home{
        display: none !important;
    }
    }
.regcontainer{
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right,blue,rgb(60, 200, 255));
    margin: 3rem 0;
    border-radius: 1rem;
    .leftpart{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem 0rem 4rem 2rem;
        font-size: 3rem;
        
        i{
            margin: 6.5rem 1.5rem 1.5rem 1.5rem;
            font-size:5rem;
            color:white;
            
        }
        h1{
            margin: 1.5rem;
            font-family:'Times New Roman', Times, serif; 
            color: white;
            
        }
        p{
            font-size: 1.1rem;
            color: white;
            margin: .1rem; 
            width: 60%;
        }
        a{
            margin: 1.5rem; 
            button{
                padding: 1rem 2.5rem;
                margin-top: 4rem;
                border-radius: .7rem;

            }
            
        }
    }
    .rightpart{
        width: 70%;
        display: flex;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
        align-items: center;
        background-color: white;
        justify-content: center;
        margin: 4rem 2.5rem 4rem 0rem;

        .formcotainer{
            width: 100%;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius:2rem 2rem 0 0;

            h1{
                margin: 3rem;
                font-family: 'Times New Roman', Times, serif;
                font-size: 3rem;
            }
            form{
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                label{
                    width: 40%;
                    padding: 1rem;
                    
                    &:nth-child(4){
                            width: 79%;
                            padding: 0 0.6rem;
                            text-align: center;
                    }

                    font-size: 2rem;
                }
                input{
                    margin: 1.3rem .5rem;
                    padding: 1rem 2.5rem;
                    border-radius: 0.3rem;
                }
               
            }
        }
    }
}